<h1 style="color:aquamarine;">Jordan's to do list</h1>
 <div> <table id="myTable">
      <tr>
          <th>completed? </th>
          <th>Task </th>
          <th>Time</th>
          <th> Amount</th>
         <th> Location</th>
      </tr>
      <tr>
          <td> <input type="checkbox" name="done"/> </td>
          <td> <a href="/todo/show.html?name=homework"> homework</a></td>
      <td>2:30 pm</td>
      <td class="pomodoro-estimate">45 min</td>
      <td> home</td>
      </tr>
      <tr>
      <td> <input type="checkbox" name="done"/></td>   
          <td> <a href="/todo/show.html?name=takeoutthetrash"> take out trash </a></td>
      <td>2:30 pm</td>
      <td class="pomodoro-estimate">5 min</td>
      <td> home</td>
      </tr>
  </table>
  </div>
<div id="new-todo-block">
     <input class="text-input" id="new-todo-description" type="text" placeholder="Add a new to do..." name=""/>
     <input class="text-input" id="new-pomodoro-estimate" type="number" placeholder="Add a new time..." value="Submit"/>
     <input class="button" id="add-new-todo-button" type="submit" value="Add to do">
</div>