<h2>Add a new todo...</h2>

<form action="/create">
  <input class="text-input" id="new-todo-task" name="task" type="text" placeholder="Add a new todo...">
  <input class="text-input" id="new-todo-time" name="time" type="time" placeholder="Add time">
  <input class="text-input" id="new-todo-amount" name="amount" type="number" placeholder="Add amount of time">
  <input class="text-input" id="new-todo-location" name="location" type="text" placeholder="Add a location">
  <input class="button" id="add-new-todo-button" type="submit" value="Add todo">
</form>