 <input type="checkbox" name="done"/>  <h1><%= @todo.task %> </h1>
        <div>
    <h1> <a href="/todo/index.html" >Back </a></h1>
    <h1> <a href="#" > Edit </a></h1>
    <h1><a href="#" > Delete </a> </h1></div>